Menu:
  "&File":
    value: "File(&F)"
    submenu:
      "New &Window":
        value: "नया विन्दोव्(&W)"
      "&New File":
        value: "नया फ़ाइल(&N)"
      "&Open File…":
        value: "खुली फाइल(&O)..."
      "Open Folder…":
        value: "फोल्डर खोलो..."
      "Add Project Folder…":
        value: "प्रोजेक्ट फ़ोल्डर जोड़ें..."
      "Reopen Project":
        value: "रोपेन प्रोजेक्ट"
        submenu:
          "Clear Project History":
            value: "प्रोजेक्ट इतिहास साफ़ करें"
      "Reopen Last &Item":
        value: "अंतिम आइटम फिर से खोलें(&I)"
      "Se&ttings":
        value: "समायोजन(&T)..."
      "Config…":
        value: "कॉन्फ़िग..."
      "Init Script…":
        value: "ईनित ष्च्रिप्त्..."
      "Keymap…":
        value: "कीमैप..."
      "Snippets…":
        value: "स्निपेट्स..."
      "Stylesheet…":
        value: "शैली पत्रक..."
      "&Save":
        value: "सहेजें(&S)"
      "Save &As…":
        value: "के रूप रक्षित करें(&A)..."
      "Save A&ll":
        value: "सभी को सुरक्षित करें(&L)"
      "&Close Tab":
        value: "टैब बंद करें(&C)"
      "Close &Pane":
        value: "फलक बंद करें(&P)"
      "Clos&e Window":
        value: "विंडो बंद करें(&E)"
      "E&xit":
        value: "बाहर जाएं(&X)"
      "Close All Tabs":
        value: "सभी टैब को बंद करें"
  "&Edit":
    value: "संपादित करें(&E)"
    submenu:
      "&Undo":
        value: "पूर्ववत करें(&U)"
      "&Redo":
        value: "फिर से करें(&R)"
      "Cu&t":
        value: "कट गया(&T)"
      "&Copy":
        value: "प्रतिलिपि(&C)"
      "Copy Pat&h":
        value: "पथ कापी(&H)"
      "&Paste":
        value: "पेस्ट करें(&P)"
      "Paste Without Reformatting":
        value: "रिफॉर्मेटिंग के बिना पेस्ट करें"
      "Select &All":
        value: "सभी का चयन करे(&A)"
      "&Toggle Comments":
        value: "टिप्पणियाँ टॉगल करें(&T)"
      Lines:
        value: "पंक्तियां"
        submenu:
          "&Indent":
            value: "इंडेंट(&I)"
          "&Outdent":
            value: "आउटडेंट(&O)"
          "&Auto Indent":
            value: "ऑटो इंडेंट(&A)"
          "Move Line &Up":
            value: "लाइन अप ले जाएँ(&U)"
          "Move Line &Down":
            value: "लाइन डाउन करें(&D)"
          "Du&plicate Lines":
            value: "डुप्लीकेट लाइनें(&P)"
          "D&elete Line":
            value: "डिलीट लाइन(&E)"
          "&Join Lines":
            value: "लाइनों में शामिल हों(&J)"
      Columns:
        value: "कॉलम"
        submenu:
          "Move Selection &Left":
            value: "लेफ्ट सेलेक्शन ले जाएं(&L)"
          "Move Selection &Right":
            value: "राईट सेलेक्शन ले जाएं(&R)"
      Text:
        value: "टेक्स्ट"
        submenu:
          "&Upper Case":
            value: "अपरकेस(&U)"
          "&Lower Case":
            value: "लोअर केस(&L)"
          "Delete to End of &Word":
            value: "शब्द के अंत तक हटाएं(&W)"
          "Delete to Previous Word Boundary":
            value: "पिछले शब्द सीमा तक हटाएं"
          "Delete to Next Word Boundary":
            value: "अगला शब्द सीमा तक हटाएं"
          "&Delete Line":
            value: "डिलीट लाइन(&D)"
          "&Transpose":
            value: "खिसकाना(&T)"
      Folding:
        value: "तह"
        submenu:
          "&Fold":
            value: "तह(&F)"
          "&Unfold":
            value: "उधेड़ना(&U)"
          "Unfold &All":
            value: "सब अनकहा(&A)"
          "Fol&d All":
            value: "सभी को मोड़ो(&D)"
          "Fold Level 1":
            value: "तह स्तर 1"
          "Fold Level 2":
            value: "तह स्तर 2"
          "Fold Level 3":
            value: "तह स्तर 3"
          "Fold Level 4":
            value: "तह स्तर 4"
          "Fold Level 5":
            value: "तह स्तर 5"
          "Fold Level 6":
            value: "तह स्तर 6"
          "Fold Level 7":
            value: "तह स्तर 7"
          "Fold Level 8":
            value: "तह स्तर 8"
          "Fold Level 9":
            value: "तह स्तर 9"
      "Reflow Selection":
        value: "रीफ़्लो सेलेक्शन"
      Bookmark:
        value: "बुकमार्क"
        submenu:
          "View All":
            value: "सभी देखें"
          "Toggle Bookmark":
            value: "बुकमार्क टॉगल करें"
          "Jump to Next Bookmark":
            value: "अगले बुकमार्क पर जाएं"
          "Jump to Previous Bookmark":
            value: "पिछले बुकमार्क करने के लिए कूदो"
          "Select to Next Bookmark":
            value: "अगले बुकमार्क का चयन करें"
          "Select to Previous Bookmark":
            value: "पिछले बुकमार्क का चयन करें"
      "Select Encoding":
        value: "एनकोडिंग का चयन करें"
      "Go to Line":
        value: "लाइन पर जाएं"
      "Select Grammar":
        value: "व्याकरण का चयन करें"
  "&View":
    value: "वीय़ू(&V)"
    submenu:
      "Toggle &Full Screen":
        value: "पूर्णस्क्रीन चालू करें(&F)"
      "Toggle Menu Bar":
        value: "मेनू बार टॉगल करें"
      Panes:
        value: "फलक"
        submenu:
          "Split Up":
            value: "अलग होना"
          "Split Down":
            value: "नीचे विभाजित करें"
          "Split Left":
            value: "नीचे विभाजित करें"
          "Split Right":
            value: "दायी तरफ विभाजित करें"
          "Focus Next Pane":
            value: "फ़ोकस अगला फलक"
          "Focus Previous Pane":
            value: "फ़ोकस पिछला फलक"
          "Focus Pane Above":
            value: "फोकस फलक के ऊपर"
          "Focus Pane Below":
            value: "फोकस फलक के नीचे"
          "Focus Pane On Left":
            value: "बाईं ओर ध्यान केंद्रित करें"
          "Focus Pane On Right":
            value: "फोकस ऑन राइट"
          "Close Pane":
            value: "फलक बंद करें"
      Developer:
        value: "डेवलपर"
        submenu:
          "Open In &Dev Mode…":
            value: "देव मोड में खोलें(&D)..."
          "&Reload Window":
            value: "रिलोड विंडो(&R)"
          "Run Package &Specs":
            value: "पैकेज स्पेक्स चलाएं(&S)"
          "Run &Benchmarks":
            value: "बेंचमार्क चलाएं(&B)"
          "Toggle Developer &Tools":
            value: "डेवलपर टूल टॉगल करें(&T)"
      "&Increase Font Size":
        value: "फ़ॉन्ट आकार बढ़ाएँ(&I)"
      "&Decrease Font Size":
        value: "कमी फ़ॉन्ट आकार(&D)"
      "Re&set Font Size":
        value: "फ़ॉन्ट आकार रीसेट करें(&S)"
      "Toggle Soft &Wrap":
        value: "नरम लपेटें टॉगल करें(&W)"
      "Toggle Command Palette":
        value: "टॉगल कमांड पैलेट"
      "Toggle Tree View":
        value: "टॉगल ट्री व्यू"
  "&Selection":
    value: "चयन(&S)"
    submenu:
      "Add Selection &Above":
        value: "ऊपर चयन जोड़ें(&A)"
      "Add Selection &Below":
        value: "नीचे चयन जोड़ें(&B)"
      "S&plit into Lines":
        value: "लाइनों में विभाजित(&P)"
      "Single Selection":
        value: "एकल चयन"
      "Select to &Top":
        value: "ऊपर का चयन करें(&T)"
      "Select to Botto&m":
        value: "नीचे का चयन करें(&M)"
      "Select &Line":
        value: "लाइन का चयन करें(&L)"
      "Select &Word":
        value: "शब्द का चयन करें(&W)"
      "Select to Beginning of W&ord":
        value: "वर्ड की शुरुआत करने के लिए चयन करें(&O)"
      "Select to Beginning of L&ine":
        value: "लाइन की शुरुआत करने के लिए चयन करें(&I)"
      "Select to First &Character of Line":
        value: "लाइन के पहले अक्षर का चयन करें(&C)"
      "Select to End of Wor&d":
        value: "शब्द के अंत का चयन करें(&D)"
      "Select to End of Lin&e":
        value: "पंक्ति के अंत का चयन करें(&E)"
      "Select Inside Brackets":
        value: "ब्रैकेट के अंदर का चयन करें"
  "F&ind":
    value: "खोज(&I)"
    submenu:
      "Find in Buffer":
        value: "बफर में खोजें"
      "Replace in Buffer":
        value: "बफर में बदलें"
      "Select Next":
        value: "अगला चुनें"
      "Select All":
        value: "सभी का चयन करे"
      "Toggle Find in Buffer":
        value: "बोगर में टॉगल फाइंड"
      "Find in Project":
        value: "प्रोजेक्ट में खोजें"
      "Toggle Find in Project":
        value: "प्रोजेक्ट में टॉगल खोजें"
      "Find All":
        value: "सब ढूँढ़ो"
      "Find Next":
        value: "अगला ढूंढो"
      "Find Previous":
        value: "पिछला खोजें"
      "Replace Next":
        value: "अगला बदलें"
      "Replace All":
        value: "सबको बदली करें"
      "Clear History":
        value: "इतिहास मिटा दें"
      "Find Buffer":
        value: "बफर खोजें"
      "Find File":
        value: "फ़ाइल ढूंढे"
      "Find Modified File":
        value: "संशोधित फ़ाइल का पता लगाएं"
  "&Packages":
    value: "संकुल(&P)"
  "&Help":
    value: "मदद(&H)"
    submenu:
      "View &Terms of Use":
        value: "उपयोग की शर्तें देखें और &T"
      "View &License":
        value: "देखें और लाइसेंस &L"
      "Restart and Install Update":
        value: "अद्यतन को पुनरारंभ और स्थापित करें"
      "Check for Update":
        value: "अद्यतन के लिए जाँच कर रहा है"
      "Checking for Update":
        value: "अद्यतन के लिए जाँच कर रहा है"
      "Downloading Update":
        value: "अद्यतन स्थिति डाउनलोड हो रही है"
      "&Documentation":
        value: "प्रलेखन(&D)"
      "Frequently Asked Questions":
        value: "अक्सर पूछे जाने वाले प्रश्न"
      "Community Discussions":
        value: "सामुदायिक चर्चा"
      "Report Issue":
        value: "रिपोर्ट जारी करना"
      "Search Issues":
        value: "मुद्दे खोजे"
      "About Atom":
        value: "एटम के बारे में"
      "Welcome Guide":
        value: "वेलकम गाइड"
